body {
  margin: 0;
  font-family: sans-serif;
  background: #eaeaea;
  color: black;
}
.MainSection {
padding-left: 10px;

}
button {
  color: black;
  background: antiquewhite;
  border-bottom-color: black;

  border-radius: 5px;

}
.button{
  padding: 5px;
}
.logged-in-header-text{
  font-size: 0.7em;
}
.login-page{
  text-align: center;
}
.blue-text{
  color: blue;
}
.white-text{
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.errorSection{
  font-size: 1.3em;
  font-weight: bold;
  color: red;
  padding-left: 10px;
}

#logout-link{
  position: absolute;
  font-size: 0.8em;
  right:2vw;
  top:3.5vh;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logged-in-header{

  font-weight: bold;
  font-size: 1.8em;
  padding-left: 10px;
  padding-top: 5px;
}
.user-image {
  height: 40px;
  width: 32px;
padding-right: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#loader{
  color: black;
  font-weight: bold;
  font-size: 3em;
  position: center;
  vertical-align: center;
  horiz-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.playersListItem{
  padding-left: 6px;
  padding-bottom:0px;


}
.playersListImage{
  height: 25px;
  width: 18px;
  padding-left: 5px;
}
@media screen and (max-width: 800px) {
  #loader{
    color: white;
  }
  #videoOfChips{
    width: 60vw;
    height: 50vh;
    position: absolute;
    top:1vh;
    right: 0;
    left:50vw;

  }
  .imageOfStack{
    width: 30vw;
    height: 20vw;
    padding-right: 1vw;
    position: absolute;
    top:54vh;
    right: 0;
  }
  .stackInfo{
    font-size: 1em;
  }

  body {
    background: black;
    color: white;
  }

  button {
    color: white;
    border-bottom-color: white;
    background: black;

  }
}

@media screen and (max-width: 500px) {
  #loader{
    color: white;
  }



  #videoOfChips{
    width: 80vw;
    height: 60vw;
    position: absolute;
    top:50vh;
    left:10vw;
  }
  .imageOfStack{
    width: 60vw;
    height: 20vh;
    padding-right: 1vw;
    position: absolute;
    top:90vh;
    left:10vw;
  }

  .stackInfo{
    font-size: 1em;
  }

  body {
    background: black;
    color: white;
  }
  button {
    color: white;
    border-bottom-color: white;
    background: black;
  }
}
