body {
  margin: 0;
  font-family: sans-serif;
  background: #eaeaea;
  color: black;
}
.MainSection {
padding-left: 10px;

}
button {
  color: black;
  background: antiquewhite;
  border-bottom-color: black;
  padding-left: 20px;
  border-radius: 5px;
margin-left: 10px;
}
.button{
  padding: 5px;
}
.logged-in-header-text{
  font-size: 0.7em;
}
.login-page{
  text-align: center;
}
.blue-text{
  color: blue;
}
.white-text{
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.errorSection{
  font-size: 1.3em;
  font-weight: bold;
  color: red;
  padding-left: 10px;
}

#logout-link{
  position: absolute;
  font-size: 0.8em;
  right:2vw;
  top:3.5vh;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logged-in-header{

  font-weight: bold;
  font-size: 1.8em;
  padding-left: 10px;
  padding-top: 5px;
}
.user-image {
  height: 40px;
  width: 32px;
padding-right: 10px;
}

.App-header {

  height: 150px;
  padding: 20px;

}

.App-intro {
  font-size: large;
}

#loader{
  color: black;
  font-weight: bold;
  font-size: 3em;
  position: center;
  vertical-align: center;
  horiz-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editGroupInputDiv{
  padding: 1px 15px 10px 5px;
}
.editGroupInput{
  width: 60vw;
  padding-left: 5px;
  font-size: 1.3em;
  height: 41px;
}
.editPlayerInputDiv{
  padding: 1px 15px 10px 5px;
}
.editPlayerInput{
  width: 60vw;
  padding-left: 5px;
  font-size: 1.3em;
  height: 41px;
}
.editPlayerImage{
  width: 120px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
}
.editGamePlayerPopupInner{
  padding: 30px;
  position: absolute;
  left:3vw;
  top:2vh;
  width: 93vw;
  height: 97vh;
  background: ghostwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
}
.saveButton{
  padding-right: 13px;
}
.editPlayerPopupInner{
  padding: 30px;
  position: absolute;
  left:5vw;
  top:5vh;
  width: 85vw;
  height: 70vh;
  background: ghostwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
}
.editGroupPopupInner{
  padding: 30px;
  position: absolute;
  left:5vw;
  top:5vh;
  width: 85vw;
  height: 67vh;
  background: ghostwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
}
.popupOuter{
  position: absolute;
  left:0vw;
  top:0vh;
  width: 100vw;
  height: 100vh;
  background: #000000DD;
}
.viewGamePopupInner{
  padding: 20px;
  position: absolute;
  left:1vw;
  top:1vh;
  width: 95vw;
  height: 100vh;
  background: ghostwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
}
.editGamePopupInner{
  padding: 30px;
  position: absolute;
  left:5vw;
  top:5vh;
  width: 85vw;
  height: 160vh;
  background: ghostwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
}
.paddingLeft{
  padding-left: 10px;
}

.editGameInput{
  width: 40vw;
  padding: 5px;
}
.editGamePlayerSection{
  padding: 10px;
}
.backButton{
  padding-top: 50px;
}
.viewGamePlayerSection{
  padding: 10px;
}
.groupPlayersList{
  max-height: 60vh;
  overflow-y: scroll;
}

.groupPage{
  padding-left: 20px;
  padding-right: 20px;
}
.gamesListItem{
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
  margin: 2px;
  width: 12vw;
}
.gamesListItemReady{
  color: darkgreen;
}
.gamesListItemNotReady{
  color: darkred;
  border: 2px dashed black;
}

.playersListItem{
  border: 2px dashed black;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
  margin: 2px;
  max-width: 16vw;
}
.connectedUser{
  border: 3px solid black;
}
.playersListImage{
  height: 28px;
  width: 30px;
  padding-left: 5px;
  padding-right: 7px;
}
.playersListImageBig{
  width: 100%;
  border-radius: 30px;
  max-width: 16vw;
  max-height: 16vw;
}
.balanceWithCurrencyPositive{
  color: darkgreen;
}
.balanceWithCurrencyNegative{
  color: darkred;
}
.groupGamesList{
  max-height: 30vh;
  overflow-y: scroll;
}

.activeGameTextSize{
  font-size: 100%;
  color: black;
  font-weight: bold;
}
.centeredText{
  text-align: center;
}
.activeGameSmallHeaderTextSize{
  font-size: 130%;
  color: rgb(211, 131, 39);
  font-weight: bold;
  margin-top:-20px;
  margin-bottom:-10px;
}

@media screen and (max-width: 800px) {

  .editPlayerInput{
    width: 25vw;
    height: 40px;
    padding: 2px;
  }
  .editPlayerInputDiv{
    padding: 1px 15px 7px 5px;
  }
  button {
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 2px;
  }
  .button{
    padding: 2px;
  }

  .popupOuter{
    height: 4000vh;
  }

  .editPlayerPopupInner{
    padding: 20px;
    left:4vw;
    top:2vh;
    height: 320vh;
    width: 90vw;
    font-size: 0.8em;
  }
  .editGamePopupInner{
    padding: 20px;
    left:1vw;
    top:1vh;
    height: 330vh;
    font-size: 0.6em;
    width: 86vw;
  }

  .viewGamePopupInner{
    padding: 13px;
    left:2vw;
    top:3vw;
    height: 390vh;
    width: 87vw;
    font-size: 0.7em;
  }
  .playersListItem{
    border: 1px solid black;
    border-radius: 14px;
    text-align: center;
    font-size: 0.9em;
    padding: 2px;
    margin: 2px;
    max-width: 45vw;
  }
  .playersListImageBig{
    width: 100%;
    border-radius: 14px;
    max-width: 45vw;
    max-height: 45vw;
  }
  .gamesListItem{
    border: 1px solid black;
    border-radius: 14px;
    font-size: 0.9em;
    padding: 2px;
    margin: 2px;
    width: 45vw;
  }

  .editGamePlayerPopupInner{
    padding: 10px;
    width: 90vw;
    height: 97vh;
  }
}
