.confetti-button-green {
    background-color: #1e7e34;
    color: #fff;
    box-shadow: 0 2px 25px rgba(130, 200, 130, 0.5);
}


.confetti-button-green:before {
    background-image: radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1e7e34 20%, transparent 30%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1e7e34 15%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%);
}

.confetti-button-green:after {
    background-image: radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1e7e34 15%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%), radial-gradient(circle, #1e7e34 20%, transparent 20%);
}

.confetti-button-green:active {

    background-color: #1e7e44;
    box-shadow: 0 2px 25px rgba(125, 200, 130, 0.2);
}
