.confetti-button-gray {
    background-color: #818181;
    color: #fff;
    box-shadow: 0 2px 25px rgba(130, 130, 130, 0.5);

}

.confetti-button-gray:before {
    background-image: radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, transparent 20%, #818181 20%, transparent 30%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, transparent 10%, #818181 15%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%);
}

.confetti-button-gray:after {
    background-image: radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, transparent 10%, #818181 15%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%), radial-gradient(circle, #818181 20%, transparent 20%);
}

.confetti-button-gray:active {
    background-color: #808184;
    box-shadow: 0 2px 25px rgba(125, 120, 130, 0.2);
}
