#login-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 99999;
    color: black;
    text-align: center;
    font-size: 1em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#loginErrorSection{
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    padding-top: 5px;
}

#sheep-img{
    width: 10vw;
    margin-top: 2vh;
}
#chips-img{
    width: 25vw;
}

#version{
    font-size: 1em;
    color: grey;
    position: absolute;
    top: 2px;
    left: 4px;
}
.login-button{
    text-decoration: none;
    font-size: 3em;
    width: 44vw;
    background: #151135;
    border-radius: 10px;
    color: white;
    margin-top: 1vh;
    margin-left: 28vw;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #login-page {
        font-size: 1em;
        padding-top: 4vw;
    }
    #loginErrorSection{
        padding-top: 5px;
        font-size: 1em;
    }
    #sheep-img{
        width: 30vw;
        margin-top: 2vh;
    }
    #chips-img{
        width: 85vw;
        height: 39vh;
        margin-top: 1vh;
    }
    #pokerStatsLogo{
        width: 60vw;

    }
    #login-buttons-div{
        padding-top: 1vh;
    }
    #version{
        font-size: 0.9em;
        top: 2px;
        left: 4px;
    }
    .login-button{
        margin-top: 1vh;

        font-size: 1.1em;
        width: 80vw;

        border-radius: 10px;

        margin-left: 10vw;
        padding: 10px;


    }

}
