#online-screen{
    margin-top: 4px;
    background: black;
    color: white;
    width: 110vw;
    margin-left: -5vw;
    padding-left: 7vw;
    padding-right: 15vw;
    padding-top: 10px;
    height: 100vh;
    position:relative;
}

#connection-status{
    font-family: "Arial Black";

    z-index: 30;
    font-size: 2em;
    position: absolute;
    top:1vh;
    left:5.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
}
.connected-to-server{
    border: 3px solid forestgreen;
    color: forestgreen;
}
.disconnected-from-server{
    border: 3px solid darkred;
    color: darkred;
}

#create-new-online-game-section{
    background: #111111;
    border: 2px solid grey;
    border-radius: 10px;
    position: absolute;
    top:10vh;
    left:5.7vw;
    height: 62vh;
    width: 35vw;
    padding: 20px;
    z-index: 1;
}
#existing-games{
    background: #111111;
    border: 2px solid grey;
    border-radius: 10px;
    position: absolute;
    top:10vh;
    right:5.7vw;

    width: 35vw;
    padding: 20px;
    z-index: 1;
}
.existing-game{

    width: 31vw;
    padding: 20px;
margin: 1px;
    cursor: pointer;
}
.existing-game:hover{

    background: #9fcdff;
}
.greyGame{
    background: #5a6268;
}
.whiteGame{
    background: grey;
}
#please-wait{
    background: #111111dd;
    border: 2px solid grey;
    position: absolute;
    top:10vh;
    left:5.7vw;
    height: 62vh;
    width: 35vw;
    border-radius: 10px;
    padding-top: 22vh;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    font-size: 7em;
}
header{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
#existing-games-list{
    background: #050505;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 1vh;
    font-size: 2em;
}
#new-online-game-inputs{
    background: #050505;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 1vh;
    font-size: 2em;
}
#new-online-game-inputs input{
    border-radius: 10px;
    margin-bottom: 1.5vh;
    padding-left: 20px;

}


#new-online-game-inputs .name-input{
    width: 22vw;
}


#new-online-game-inputs .small-blind{
    width: 5vw;
    margin-right: 1.48vw;
}
#new-online-game-inputs .big-blind{
    width: 5vw;

}

#new-online-game-inputs .time{
    width: 5vw;
}

#new-online-game-inputs .buy-in{
    width: 5vw;
    margin-right: 1vw;
}

#new-online-game-inputs .currency-sign{
    width: 3vw;
}


#new-online-game-inputs #signs{
   margin-left: 17vw;

    height: 5vh;
    border-radius: 10px;
    padding: 3px;

}

#new-online-game-inputs #signs span{
   border: 1px solid white;
    border-radius: 10px;
margin: 3px;
    padding: 4px 10px;
    background: #114411;
}


#online-screen #create-button-div{
    margin-top: 10px;
    font-weight: bold;
    font-size: 4em;
text-align: center;
}

#online-screen #create-button{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#online-screen #create-button:hover{
    background: #5a626844;
    cursor: pointer;
}
.red-border{
    border-color: red;
}
