#online-game-screen{
    margin-top: 4px;
    background: black;
    color: white;
    width: 110vw;
    margin-left: -5vw;
    padding-left: 7vw;
    padding-right: 15vw;
    padding-top: 10px;
    height: 100vh;
    position:relative;
}
#connection-status{
    font-family: "Arial Black";
    z-index: 30;
    font-size: 2em;
    position: absolute;
    top:1vh;
    left:5.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
}
.connected-to-server{
    border: 3px solid forestgreen;
    color: forestgreen;
}
.disconnected-from-server{
    border: 3px solid darkred;
    color: darkred;
}

#clock{
    color: #eaeaea;
    z-index: 30;
    font-size: 2em;
    position: absolute;
    top:7.6vh;
    left:6.3vw;
}
#blinds-data{
    color: white;
    z-index: 30;
    font-size: 2.4em;
    position: absolute;
    top:2vh;
    right:6.3vw;
    font-weight: bold;
    font-family: "Arial Black"
}
#hand-clock{
    color: forestgreen;
    z-index: 30;
    font-size: 2.2em;
    position: absolute;
    top:7vh;
    right:6.3vw;
    font-weight: bold;
    font-family: "Arial Black"
}
#table-image{
    position: absolute;
    top:3vh;
    left:0vw;
    width: 105vw;
    height: 70vh;
    z-index: 1;
                             border: 2px solid transparent;
}

.card{
    border: 2px solid white;
    outline: 1px solid black;
    border-radius: 5px;

}


.left-card{
    z-index: 20;
    transform: rotate(-8deg);
}
.right-card{
    z-index: 21;
    transform: rotate(8deg);
}
.player-div{
    position:relative;
}
.card1{
    position: absolute;
    left: 0vw;
}
.card2{
    position: absolute;
    left: 3.2vw;
}

.player-info{
    z-index: 19;
    border-radius: 5px;
    position: absolute;
    left: 5.2vw;
    width: 8.0vw;
    height: 10vh;
    background: white;
    font-size: 1.3em;
    padding-top: 2vh;
    padding-left: 6vh;
    border: 1px solid black;
}
#online-game-screen .button{
    z-index: 22;
    border-radius: 50%;
    position: absolute;
    left: 12.1vw;
    width: 2vw;
    height: 2vw;
    padding-top: 0.14vw;
    padding-left: 0.6vw;
    font-size: 1.3em;
    top:-1.5vh;
}
#dealer-button{
    background: mediumpurple;
    color: white;

}
#small-blind-button{
    background: #9fcdff;
    color: black;
    font-size: 1em;
    padding-top: 0.35vw;
    padding-left: 0.47vw;
}
#big-blind-button{
    background: #9fcdff;
    color: black;
    font-size: 1em;
    padding-top: 0.35vw;
    padding-left: 0.47vw;

}
.player-name{
    color: #6c757d;
}

.player-balance{
    color: #4a535b;
    font-weight: bold;
}
#active-timer-div{
    position: absolute;
    z-index: 20;
    left: 4vw;
    width: 6.9vw;
    height: 1vh;
    margin-top: 8.82vh;
    margin-left: 2.22vw;
    background: #eeeeee;
    border-bottom-right-radius: 3px;

}

#active-timer{

    position: relative;
    background: forestgreen;
    height: 1vh;
    border-bottom-right-radius: 3px;
}


.player{
    position: absolute;
    width: 13vw;
    height: 10vh;
    z-index: 3;
}
.active-player{
    background: rgba(232,174,0,0.53);
    -webkit-box-shadow: -6px 8px 35px 24px rgba(232,174,0,0.58);
    -moz-box-shadow: -6px 8px 35px 24px rgba(232,174,0,0.58);
    box-shadow: -6px 8px 35px 24px rgba(232,174,0,0.58);
    border-radius: 30%;
}
.player-pot{
    position: absolute;
    width: 4.3vw;
    height: 2.7vw;
    border-radius: 25px;
    background: #eec117;
    color: white;
    font-weight: bold;
    font-size: 1.9em;
    z-index: 2;
    padding-top: 6px;
    alignment: center;
    text-align: center;

}
.player-status{
    position: absolute;
    width: 4vw;
    height: 1.8vw;
    border-radius: 20px;
    background: #117a8b;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    z-index: 10;
    padding-top: 3px;
    alignment: center;
    text-align: center;

    top:9.7vh;
    left:1.1vw;
}
#buttons{
    position: absolute;
    top: 78vh;
    left: 18vw;
    width: 83vw;
                    border: 1px solid transparent;


    height: 30vh;

}
.big-button{
    border: 2px solid grey;
    border-radius: 15px;
    height: 8vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1.7vh;
}

.inactive-button{
    opacity: 50%;
}

.active-button{
    cursor: pointer;
}

.active-button:hover{
    background: #222222;
}

#fold-button{
    position: absolute;
    top: 0px;
    right: 0vw;
}

#check-button{
    position: absolute;
    top: 0px;
    right: 8vw;
}

#call-button{
    position: absolute;
    top: 0px;
    right: 16vw;
}

#toggle-raise-button{
    position: absolute;
    top: 0px;
    right: 24vw;
}


#raise-buttons{
    position: relative;
    top: 9vh;
    border: 2px solid #eaeaea33;
    border-radius: 15px;
    height: 10vh;
    background: #eaeaea11;
}
#raise-button{
    position: absolute;
    top: 1vh;
    right: 1vw;

    height: 8vh;
    width: 9vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
}
.raise-button-add-remove{
    position: absolute;
    top: 1vh;
    height: 8vh;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
}
.raise-button-pot-ref{
    position: absolute;
    top: 1vh;
    height: 8vh;
    width: 5vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
}
#raise-button-add-100{
    right: 11vw;
}
#raise-button-add-10{
    right: 15.5vw;
}
#raise-button-add-1{
    right: 20vw;
}

#raise-input{
    position: absolute;
    top: 1.5vh;
    right: 24.6vw;

    height: 6.6vh;
    width: 9vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.1em;
    border-radius: 20px;
}

#raise-button-sub-1{
    right: 35vw;
}

#raise-button-sub-10{
    right: 39.5vw;
}
#raise-button-sub-100{
    right: 44vw;
}
#raise-button-2-3{
    right: 49vw;
}
#raise-button-1-2{
    right: 54.5vw;
}
#raise-button-1-3{
    right: 60vw;
}
#raise-button-5x{
    right: 66vw;
}
#raise-button-3x{
    right: 71.5vw;
}
#raise-button-2x{
    right: 77vw;
}
#community-pot{
    position: relative;
    top: 24vh;
    left: 40vw;

    width: 6vw;
    height: 4.5vh;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    color: #eaeaea;
    font-size: 2em;
    border: 1px solid white;
    border-radius: 16px;
}
#community-cards{
    position: relative;
    top: 25vh;
    left: 30vw;
    border: 1px solid transparent;
    width: 35vw;
    height: 17vh;
    z-index: 10;
}
.community-card{
    position: absolute;
    top: 0px;
    width: 5vw;
    height: 14vh;
    border-radius: 9px;
}
#community-card-1{
    left:0;
}
#community-card-2{
    left:5.5vw;
}
#community-card-3{
    left:11vw;
}
#community-card-4{
    left:18vw;
}
#community-card-5{
    left:25vw;
}

#player1{
    top:60vh;
    left:49vw;
}

#player1-pot{
    top:-6.4vh;
    left:3.5vw;
}


#player2{
    top:56vh;
    left:28vw;
}

#player2-pot{
    top:-5.8vh;
    left:7vw;
}

#player3{
    top:31vh;
    left:14vw;
}

#player3-pot{
    top:10.82vh;
    left:10.4vw;
}

#player4{
    top:9vh;
    left:28vw;
}


#player4-pot{
    top:10.6vh;
    left:8.5vw;
}




#player5{
    top:4vh;
    left:49vw;
}

#player5-pot{
    top:11.3vh;
    left:7.2vw;
}

#player6{
    top:9vh;
    left:71vw;
}
#player6-pot{
    top:9.5vh;
    left:-4.2vw;
}


#player7{
    top:31vh;
    left:85vw;
}

#player7-pot{
    top:5.7vh;
    left:-4.7vw;
}

#player8{
    top:56vh;
    left:71vw;
}
#player8-pot{
    top:-6.4vh;
    left:-1.3vw;
}



