/*------------------------------------*\
	games
\*------------------------------------*/
#games{
    background-color:#F0F6F8;
    color: rgb(38, 100, 224);
}

#gamesHeader{
    color: #2C71FC;
}
.GameObjectBox{
    background-color:#E5E5E5;
    border: 2px solid #CECECE;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    color: black;
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
    padding: 8px 4px;
}
.togele{
    text-align: right;
    align-content: right;
    color: rgb(170, 170, 170);
    font-size: 1.3em;
}
.GameObjectHeader{
    padding-left: 3px;
    font-size:1.4em;
}
.GameObjectSubHeader{
    padding-left: 3px;
    font-size:1em;
}

.gameDataPersonData{
    background-color:black;
    border: 2px solid #CECECE;
    border-radius:10px;
    color: white;
    font-size:1em;
}

.gameDataPersonDataLoggedInPlayer{
    background-color:rgb(233, 255, 39);
    border: 2px solid rgb(58, 0, 0);
    color: rgb(0, 0, 0);

}


.alignPlayerDataLeft{
    margin-left:-20px;
}
.playersNameAndEditButton{
    margin-top: 5px;
}
.gameDataPersonData .playersNameAndImage{
    font-size:1.4em;
}
.gameDataPersonData .playersBottomLine{
    margin-top:-20px;
    font-size: 3em;
    font-weight: bold;
    font-family:  "Helvetica Neue", Arial, sans-serif;
}

.playersBottomLine .extraData{
    font-size: 0.25em;
}

.playersBottomLine .white-text{
    color:white;
}
.playersBottomLine .black-text{
    color:black;
}
.black-text{
    color:black;
}
.gameDataPersonData .positiveBalanceColor{
    color:green;
}
.gameDataPersonData .negativeBalanceColor{
    color:red;
}
.gameDataPersonData .zeroBalanceColor{
    color:rgb(194, 116, 28);
}

.allPlayersSummary{
    padding-left: 3vw;
}
.yellow{
    background: yellow;
}
.pink{
    background: pink;
}
.green{
    background: darkseagreen;
}
.gameDataPersonData img {
    border: 1px solid #CECECE;
    width: 50px !important;
    height: 70px !important;
    border-radius: 50%;
}
.GamePlayerImage{
    border: 1px solid #CECECE;
}
.GamePlayerDisplayName{
    font-size: 1.1em;
    font-weight: bold;
    float: left;
    text-align: center;
    color: rgb(51, 51, 51);
}
.GamePlayerNames{
    clear: both;
}

.GamePlayerImages{
    clear: both;
}

.GamePlayerGamesCount{
    font-size: 0.8em;
    float: left;
    text-align: center;
    color: rgb(10, 11, 48);
}

.GamePlayersGamesCount{
    clear: both;
}
.groupSummary{
    margin-top: 10px;
    margin-bottom: 30px;
    background: white;
    border: 3px solid transparent;
    border-radius: 20px;
}
.GamePlayerBalance{
    font-size: 1.8em;
    font-weight: bold;
    float: left;
    text-align: center;
    color: rgb(10, 11, 48);
    // clear: both;
}

.GamePlayerBalanceCurrencySign{
    font-size: 0.5em;
}
.transparentTextColor{
    color:transparent;
}


.playersListImage{
    height: 48px;
    width: 40px;
    margin-left: 9px;
    margin-right: 11px;
}

.editGamePlayerSection{
    padding: 10px;
    color: black;
    font-size: 1.3em;
}
.game-edit-div{
    color: black;
}
.remove-player-from-game{
    margin-left: 10px;
}
.gray-seprator{
    color: #5a626844;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 15px;
}
.edit-player-in-game{
    color: black;
    padding-left: 10px;
}
.InputRange{
    max-width: 80vw;
    margin-bottom: 5px;
    color: blue;
}
.input-range {
    width: 92%;
}
.playersListImageBig{
    height: 50px;
    width: 40px;
    margin-left: 3px;
    margin-right: 4px;
}


@media screen and (max-width: 900px) {

    .GamePlayerDisplayName{
        font-size: 0.7em;


    }
    .GamePlayerBalance{
        font-size: 0.7em;

    }
    .GamePlayerGamesCount{
        font-size: 0.6em;
    }

}
@media screen and (max-width: 500px) {

    .GamePlayerDisplayName {
        font-size: 0.55em;
    }

    .GamePlayerBalance {
        font-size: 0.5em;
    }
    .GamePlayerGamesCount{
        font-size: 0.5em;
    }
    .allPlayersSummary{
        padding-left: 6vw;
    }

    .playersListImageBig{
        height: 50px;
        width: 40px;
        margin-left: 3px;
        margin-right: 4px;
    }
    .playersListImage{
        height: 30px;
        width: 24px;
        margin-left: 3px;
        margin-right: 4px;
    }
    .gray-seprator{
        margin-left: 2px;
        margin-right: 2px;
    }
    .editGamePlayerSection{
        padding: 10px;
        color: black;
        font-size: 0.95em;
    }
    .remove-player-from-game{
        font-size: 0.7em;
        padding: 4px 3px 4px 3px;
    }
    .edit-player-in-game-form{
        font-size: 0.9em;
        padding: 4px 3px 4px 3px;
    }
    .editPlayerInput{
        max-width: 30vw;
    }
}
