.info-icon{
    font-size: 3em;
    color: #5a6268;
    text-align: center;
}
.info-icon-floating-top-left{
position: absolute;
    top:4vh;
    left: 1vw;
}
.introjs-tooltiptext{
    color: black;
    font-size: 1.3em;
}
