#postman{
  padding: 1vw;
  color: black;
}
#postman-header{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 2vh;
}
#postman-div-body{

}
.postman-method-combo{
  height: 2.2vw;
}
.postman-url{
  height: 2.2vw;
  margin-left: 1vw;
  width: 40vw;
}
.postman-header {
  height: 2.5vh;
  margin-bottom: 1vh;
}

.postman-header-key{
margin-right: 1vw;
  width: 10vw;
}
.postman-header-value{
  width: 60vw;
}
.add-header-col{
  font-weight: bold;
  font-size: 5em;
  margin-top: -4vh;
}
