.graphLine{
    font-weight: 900;
}

.gameGraphLineChart{
    margin-left: -10px;
}

.graphLine{

    font-weight: 900;
}
@media screen and (max-width: 500px) {

    .gameGraphLineChart {
        margin-left: -33px;
    }
}
